<html>
{% load leaflet_tags %}
{% load staticfiles %}
{% load bootstrap3 %}
<head>
<meta charset="utf-8">
<title>GeoDjango Workshop</title>
    {% leaflet_js %}
    {% leaflet_css %}
    <script src='http://code.jquery.com/jquery-2.1.1.min.js' type="text/javascript"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;">
        <a class="navbar-brand" href="#">Appli Lampadaire</a>
    </nav>
    {% leaflet_map "main" callback="main_map_init" %}

<img src="/static/img/logo.png" id="logo">

<script type="text/javascript">
    var myIcon = L.icon({
        iconUrl: '/static/img/lamp.png',
        iconSize: [24, 24],
    });

    var geoJsonLayer = null;

    function main_map_init (map, options) {
        mapo = map; 
         map.panTo(map.locate({watch: true}).options.center, {zoom: 10});
        // Use Leaflet API here
        var wms = L.tileLayer.wms("http://worldmap.harvard.edu/geoserver/wms", {
            layers: 'geonode:geoname_africa_places',
            format: 'image/png',
            transparent: true,
        });
        map.on('baselayerchange',function(e){
            wms.setZIndex(10);          
        });
        var layersControl = L.control.layers();
        layersControl.addOverlay(wms,"Africa places");
        layersControl.addTo(map);

        map.on('dragend', function(e) {
            addGeoJson(this);
        });

        addGeoJson(map);
    }

    function addGeoJson(map){
        if (geoJsonLayer != null) {
            map.removeLayer(geoJsonLayer);
        }
        var dataurl = '{% url "data" %}';
        // Download GeoJSON via Ajax
        $.getJSON(dataurl+'?y='+map.getCenter().lat+'&x='+map.getCenter().lng+'&p=800', function (data) {
            // Add GeoJSON layer
            geoJsonLayer = L.geoJson(data, {
            pointToLayer: function(feature, latlng) {
                return L.marker(latlng, {icon: myIcon});
            },
            onEachFeature: function (feature, layer) {
                    var html  = '<form class="form-inline form-lamp">';
                        html += '<div class="form-group">';
                        html +=     '<input type="hidden" name="id" value="'+feature.id+'"/>';
                        html +=     '<select class="form-control" name="etat">';
                        html +=       '<option>Etat</option>';
                        if (feature.properties.states == 'ok') {
                        html +=       '<option value="ok" selected>OK</option>';
                        } else {
                        html +=       '<option value="ok">OK</option>';
                        }
                        if (feature.properties.states == 'bb') {
                        html +=       '<option value="bb" selected>Broken bulb</option>';
                        }else{
                        html +=       '<option value="bb">Broken bulb</option>';
                        }
                        if (feature.properties.states == 'bl') {
                        html +=       '<option value="bl" selected>Broken light</option>';
                        }else{
                        html +=       '<option value="bl">Broken light</option>';
                        }
                        html +=     '</select>';
                        html += '</div>';
                        html += '<button type="submit" class="btn btn-info" style="margin-left: 5px;"><span class="glyphicon glyphicon-floppy-disk"></span></button>';
                        html += '</form>';
                    layer.bindPopup(html);
                }
            });

            geoJsonLayer.addTo(map);
        });
    }
</script>

<script type="text/javascript">
    $(function(){
        $('body').on('submit', '#main .form-lamp', function(e){
            e.preventDefault();
            console.log($(this).serializeArray());
            $.post('yapp', $(this).serializeArray(), function(data){

            });

        });
    });
</script>

<style type="text/css">
    html, body {
        height: 100%;
        position: relative;
    }

    .leaflet-container {
        height: calc(100% - 51px);
    }
    #logo {
        position: absolute;
        left: 10px;
        bottom: 30px;
        width: 100px;   
    }
</style>
</body>
</html>